@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: Roboto, san-serif;
  margin: 0;
  padding: 0;
}

.homepage .content {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #3d348b, #fbe400);
  z-index: 1;
  overflow: hidden;
}
.homepage .content__skew {
  -webkit-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  background: #f6f4ed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  opacity: 1;
}
.homepage .content figure {
  overflow: hidden;
  z-index: -10;
}
.homepage .content figure img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  opacity: 0.5;
  z-index: 1;
}
.homepage .content__header {
  width: 100%;
  margin: auto;
  height: 100vh;
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  text-align: center;
  color: #0d1f2d;
  position: absolute;
  top: 0;
  z-index: 100;
}
.homepage .content__header h1 {
  padding-top: 12%;
  margin-bottom: 0;
}
.homepage .content__header h1 img {
  width: 40%;
  max-width: 300px;
}
.homepage .content__header p {
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.homepage .content__header .main-button {
  display: inline-block;
  background: #3d348b;
  padding: 15px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: #f6f4ed;
  transition-duration: 0.2s;
  z-index: 100;
}
.homepage .content__header .main-button:hover {
  transform: scale(1.1);
  background: #fbe400;
  color: #0d1f2d;
}
.homepage .about {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #3d348b, #fbe400);
  z-index: 1;
  overflow: hidden;
}
.homepage .about__skew {
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  background: #f6f4ed;
  z-index: 2;
  width: 100%;
  height: 100vh;
}
.homepage .about figure {
  overflow: hidden;
  z-index: -10;
}
.homepage .about figure img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  opacity: 0.5;
  z-index: 1;
}
.homepage .about .about__header {
  width: 60%;
  height: 100vh;
  margin: auto;
  -webkit-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  text-align: center;
  color: #0d1f2d;
  z-index: 3;
}
.homepage .about .about__header h2 {
  font-size: 35px;
  text-align: left;
  padding-bottom: 3%;
  padding-top: 20%;
  color: #3d348b;
}
.homepage .about .about__header p {
  text-align: left;
  font-size: 20px;
  padding-bottom: 5%;
}
